.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 150px;
}

.resultContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.notFound {
  text-align: center;
  color: #666;
  font-style: italic;
}
