/* src/app/search/[name]/SearchResultPage.module.css */

.resultPage {
  margin: 20px;
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #f0f8ff, #e6e6fa);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 2.5em;
  font-weight: bold;
  background: linear-gradient(135deg, #ff6347, #ff4500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.koreanName,
.trendYear,
.meaning {
  font-size: 1.8em;
  font-weight: bold;
  color: #483d8b;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.highlight {
  font-size: 1.5em;
  font-weight: bold;
  color: #ff4500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}
